<h1> <%= "All Bookshops Visited" %> </h1>

<ol>

    <% @visits.each do |visit_instance| %>
        <li>
            <p> <%= visit_instance.date %>
            <%= link_to visit_instance.bookshop.name, bookshop_path(visit_instance.bookshop) %>
        </li>
        
    <% end %>
</ol>