<h1>Bookshops Near <%=params[:search_zip]%></h1>
<ol class="container-1">
    <% @display.each do |business_hash| %>
    
        <li class="container-2">
            <h4 class= "shop_names"><%= link_to business_hash[:name], bookshop_path(Bookshop.where(business_hash).first_or_create)%></h4>
            <img src=<%=business_hash[:image]%>>
            <img class="rating"src=<%=asset_path(business_hash[:img_rating])%>>
        </li>
    <%end%>

</ol>