<ol>
    <% @display.each do |business_hash| %>
    
        <li>
            <%= link_to business_hash[:name], bookshop_path(Bookshop.where(business_hash).first_or_create)%><br>
            <img src=<%=business_hash[:image]%>>
            Rating - <%=business_hash[:rating]%>
        </li>
    <%end%>

</ol>