<h1> Bookshop Index </h1>

<ol>
    <% @bookshops.each do |bookshop_instance| %>

        <li>
            <p> <%= bookshop_instance.name %> </p>
            <%= link_to bookshop_instance.name, bookshop_path(bookshop_instance) %>
        </li>

    <% end %>

</ol>
<%= render "/shared/search" %>
