<h1> Homepage </h1>

<%if is_logged_in?%>
    <%= link_to 'Browse Bookshops', bookshops_path, class:"btn btn-secondary" %>
<%else%>
    <%= link_to 'Browse Bookshops', bookshops_path, class:"btn btn-secondary" %>
    <%= link_to 'Login', login_path, class:"btn btn-secondary" %>
    <%= link_to 'Sign Up', new_user_path, class:"btn btn-secondary" %>
<%end%>
