<h1>Bookshops Recommended to you</h1>

<ol class="container-1">
    <%current_user.incoming_recs.each do |recommendation|%>
        <li class="container-2">
            <p><%=link_to recommendation[0].name, user_path(recommendation[0])%> recommended <%= link_to recommendation[1].name, bookshop_path(recommendation[1])%></p>
            <p><%=recommendation[2]%></p> 
        </li>
    <%end%>

</ol>