<%= form_tag :users_search do%>
    <%= text_field_tag :search_display, nil, placeholder: "Search for User"%>
    <%= submit_tag "search"%>
<%end%>
<ol>
    <% @users.each do |user| %>

        <li>
            <%= link_to user.name, user_path(user) %>
        </li>

    <% end %>

</ol>