<% if @term%>
    <ol class="container-1">
        <% User.find_users(@term).each do |user|%>
            <li class="container-2">
                <%= link_to user.name, user_path(user)%>
            </li>
        <%end%>
    </ol>
<%else%>
    <%=render :index%>
<%end%>
    