<div class="jumbotron">
  <h1 class="display-4"><%=@user.username.titleize%></h1>
  
  <hr class="my-4">
  <p class="lead">
    <% if current_user.id == @user.id%>
        <%= link_to "Update Profile", edit_user_path(@user), class:"btn btn-secondary"%> 
    <%end%>
  </p>
</div>

<p> Name: <%= @user.name %></p>



<%= link_to "Visited Bookshops", visits_path(@user) %>

















