/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:stretch;
    padding-bottom: 2em;
 }

.container-1 > li{
    background-color: #b9b6b6;
    border: 2px solid rgb(30, 117, 52);
    width: auto;
    margin: 10px;
}
    
.container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:stretch;
}



.box{
    border:1px rgb(245, 6, 6) solid;

}

img {
    max-width: 15rem;
    max-height: 15rem;
    
}

.searchdiv{
    padding-left: 2.6em;
}
.pagnation{
    padding-left: 1.9em;
    font-size:x-large;
}

h1{
    color: rgb(30, 117, 52);
}
h2{
    color: rgb(30, 117, 52);
}
h3{
    color: rgb(30, 117, 52);
}

p{
    font-size: x-large;
    color: rgb(30, 117, 52);

}
#favlink{
    font-size: large;
}

.shoshowbutt{
    margin-top: 1em;
}